*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    font-family: 'Roboto Condensed', sans-serif;
}
.scene-contact{
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: rgba(172, 19, 99, .31);
    justify-content: center;
    align-items: center;
}
.container-contact{
    display: flex; 
    height: 100vh;
    width: 90%;
    padding: 30px;
    flex-direction: column;
    gap: 50px;
    
}

.foreground-contact{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    opacity: .45;
}
.foreground-contact img{
    width: 100%;
}
.background-contact{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
    opacity: .7;
}
.content-contact h1{
    font-size: 3em;
    margin-bottom: 20px;
    width: 70%;
}
.content-contact p{
    font-size: 1.2em;
    line-height: 1.5;
    width: 60%;
}
.content-contact blockquote{
    font-size: 2em;
    width: 60%;
    font-weight: 700;
}
.content-contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    width: 90%;
    text-transform: uppercase;
    color: #001427;
    transition: transform 250ms;
}

.btn-container-contact{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.person{
    position: absolute;
    top: 17%;
    right: 10%;
    transition: all 500ms;
}