.btn{
    border: none;
    border-radius: 35px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 500ms;
}

.btn:hover{
    filter: brightness(120%);
}